@(webSocketUrl: String, username: String, players: Seq[String])(implicit request: RequestHeader, flash: Flash)

@main("Lobby", "stylesheets/lobby.css") {
<div class="modal">
    <div class="modal-content">
        <div id="modal-header">
            <div class="close-btn">&times;</div>
            <div class="header-text">Create</div>
        </div>
        <form method="post" action="@routes.LobbyController.createGame">
            @helper.CSRF.formField
            <div>
                <h4>Game Name:</h4>
                <div id="modal-footer">
                    <input id="modal-game-name-input" type="text" name="game-name">
                    <input type="submit" value="Create game">
                </div>

                <input type="hidden" name="password">
            </div>

        </form>
    </div>
</div>
<div id="lobby-container">
    <div class="card" id="actions-header">
        <div class="header-text" id="lobby-title-text">Hi @username</div>
        <button id="create-game-button">CREATE GAME</button>
        <button id="logout-button" onclick="document.location.href='@routes.LoginController.logout()'">LOGOUT</button>
    </div>

    <div id="social-container">
        <div class="card" id="player-list">
            <div class="header-text">Players</div>
            <nav>
                <ul id="lobby-user-list">
                    @for(player <- players) {
                    <li>@player</li>
                    }
                </ul>
            </nav>
        </div>
        <div class="card" id="chat-container">
            <div class="header-text">Lobby chat</div>
            <div id="chat-area"></div>
            <input type="text" id="lobby-message-input">
        </div>
    </div>
    <div class="card" id="games-container">
        <div class="header-text">Games</div>
        <ul id="lobby-game-list">
        </ul>

    </div>

</div>

<input type="hidden" id="data-url" value="@webSocketUrl">
@scalajs.html.scripts("lobby-client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
