@(webSocketUrl: String, username: String, players: Seq[String])(implicit flash: Flash)

@main("Lobby") {
<h1>Hi @username</h1>
<div id="actions-header">
    <a href="@routes.LobbyController.samurai()">Create Game</a>
    <a href="@routes.LoginController.logout()">Logout</a>
</div>
<div id="social-container">
    <div id="player-list">
        <label>Players</label>
        <nav>
            <ul id="lobby-user-list">
                @for(player <- players) {
                <li>@player</li>
                }
            </ul>
        </nav>
    </div>
    <div id="chat-container">
        <label>Lobby chat</label>
        <textarea rows="10" cols="60" readonly id="lobby-chat-textarea"></textarea>
        <input type="text" id="lobby-message-input">
    </div>
</div>
<div id="games-container">
    <label>Games</label>
    <nav>
        <ul id="lobby-game-list">
        </ul>
    </nav>
</div>

<script src='@routes.Assets.versioned("javascripts/main.js")' type='text/javascript' data-url='@webSocketUrl'></script>
}
