
@(title: String, stylesheet: String)(content: Html)(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned(stylesheet)">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        @flash.get("error").map { error =>
        <div id="error_div">@error</div>
        }
        @content
    </body>
</html>
