@(webSocketUrl: String, username: String, gameId: Int, players: Seq[String])(implicit flash: Flash)

@main("Lobby") {
<div id="party-lobby-container">
    <div id="actions-header">
        <a href="@routes.LobbyController.index()">Back to lobby</a>
        <button>Leave Game</button>
    </div>
    <div id="top-container">
        <div id="party-player-list" class="basic-lobby-container">
            @for(player <- players) {
            <div class="waiting-player">@player</div>
            }
        </div>
        <button id="start-game-button">Start Game</button>
    </div>
    <div id="chat-container">
        <label>Party chat</label>
        <div id="chat-area"></div>
        <input type="text" id="lobby-message-input">
    </div>
</div>
<input type="hidden" id="game-id" value="@gameId">
<input type="hidden" id="data-url" value="@webSocketUrl">
@scalajs.html.scripts("lobby-client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
