@(webSocketUrl: String, username: String, gameId: Int, gameName: String, players: Seq[String])(implicit flash: Flash)

@main("Lobby", "stylesheets/lobby.css") {
<div id="party-lobby-container">
    <div class="card" id="actions-header">
        <div class="header-text" id="lobby-title-text">@gameName</div>
        <button onclick="document.location.href='@routes.LobbyController.index()'">BACK TO LOBBY</button>
        <button onclick="document.location.href='@routes.LobbyController.leaveGame(gameId)'">LEAVE GAME</button>
        <button onclick="document.location.href='@routes.LobbyController.startGame(gameId)'">START GAME</button>
    </div>
    <div class="card" id="top-container">
        <div class="header-text">Players</div>
        <div id="party-player-list">
            @for(player <- players) {
            <div class="waiting-player">@player</div>
            }
        </div>
    </div>
    <div class="card" id="chat-container">
        <div class="header-text">Party chat</div>
        <div id="chat-area"></div>
        <input type="text" id="lobby-message-input">
    </div>
</div>
<input type="hidden" id="game-id" value="@gameId">
<input type="hidden" id="data-url" value="@webSocketUrl">
@scalajs.html.scripts("lobby-client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
