@()(implicit request: RequestHeader, flash: Flash)

@main("Register", "stylesheets/login.css") {

<div id="login-container">
    <h1>Samurai</h1>
    <h2>Please choose a username and password</h2>
    <form method="post" action="@routes.LoginController.validateRegister">
        @helper.CSRF.formField
        <label>Username:</label><br>
        <input type="text" name="username"><br>
        <label>Password:</label><br>
        <input type="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
    <br>
    <label>Already have an account? Login <a href="@routes.LoginController.login">here</a>.</label>
</div>
}
